<div class="d-flex flex-column h-100">
  <ng-container>
    <mat-toolbar class="moma-navbar">
      <div class="container">
        <img src="assets/logo.png" alt="logo" class="logo" />
        <button
          mat-button
          class="navbar-btn"
          [routerLink]="['/']"
          disableRipple
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button
          mat-button
          class="navbar-btn"
          [routerLink]="['/', 'artworks']"
          routerLinkActive="active"
          disableRipple
        >
          <mat-icon>palette</mat-icon>
          Artwork
        </button>
        <button
          mat-button
          class="navbar-btn"
          [routerLink]="['/', 'artists']"
          routerLinkActive="active"
          disableRipple
        >
          <mat-icon>person_pin</mat-icon>
          Artist
        </button>
      </div>
    </mat-toolbar>
  </ng-container>

  <div class="container mt-5 flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="container my-3">
      The dataset is taken from
      <a href="https://github.com/MuseumofModernArt/collection"
        >The Museum of Modern Art</a
      >
    </div>
  </footer>
</div>
