<ng-container *ngIf="artworksResponse$ | async as r">
  <div class="d-flex">
    <h1 class="flex-grow-1">Artworks ({{ r.count }} items)</h1>
    <button
      class="m-3 btn-black"
      mat-stroked-button
      (click)="showModifyDialog()"
    >
      <mat-icon>add</mat-icon>
      Add artwork
    </button>
  </div>

  <div class="row filter">
    <form [formGroup]="filterFormGroup">
      <mat-form-field appearance="fill" class="me-3">
        <mat-label>Keyword</mat-label>
        <input matInput formControlName="keyword" [value]="keyword" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="me-3">
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality">
          <mat-option value="">All</mat-option>
          <mat-option
            [value]="nationality"
            *ngFor="let nationality of nationality$ | async"
            >{{ nationality }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button mat-button (click)="gotoFilter()">Apply</button>
    </form>
  </div>

  <div class="row">
    <div
      *ngFor="let artwork of r.results"
      class="col-3 col-lg-3 col-sm-6 col-12 align-self-stretch mb-2 pb-2"
    >
      <app-artwork-card [artwork]="artwork"></app-artwork-card>
    </div>
    <mat-paginator
      #paginator
      [length]="r.count"
      [pageSize]="24"
      [pageIndex]="page"
      (page)="gotoPage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
